@model RavenDbTalk.Web.Models.Domain.Quote

<div class="col-lg-12">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <a href="@Url.Action("index", "quotes", new { by = Model.By })" class="label label-success">@Model.By</a>
            <a href="@Url.Action("index", "quotes", new { category = Model.Category })" class="label label-info">@Model.Category</a>
        </div>
        <div class="panel-body">
            <blockquote>
                <p>@Model.Text</p>http://static.ravendb.net/badges/standard/badge1.png
                <cite>- @Model.By</cite>
            </blockquote>
            <hr />
            <a class="btn btn-info pull-right" href="@Url.Action("show", "quotes", new { id = Model.Id })">
                More...
            </a>
            <a class="btn btn-success" href="http://twitter.com/share?url=@(Url.Action("show", "quotes", new { id = Model.Id }, "http"))&text=I really enjoyed this quote from @Model.By! @(Url.Action("show", "quotes", new { id = Model.Id }, "http"))&via=quotely" target="_blank">
                <i class="fa fa-twitter"></i>
                Twitter
            </a>
            <a class="btn btn-success" href="https://www.facebook.com/sharer/sharer.php?u=@Url.Action("show", "quotes", new { id = Model.Id }, "http")" target="_blank">
                <i class="fa fa-facebook"></i>
                Facebook
            </a>
            <a class="btn btn-success" href="https://plus.google.com/share?url=@Url.Action("show", "quotes", new { id = Model.Id }, "http")" target="_blank">
                <i class="fa fa-google-plus"></i>
                Google+
            </a>
        </div>
    </div>
</div>