@using PagedList.Mvc
@model RavenDbTalk.Web.Models.ViewModels.Quotes.IndexModel
@{
    ViewBag.Title = "Index";
}

<div class="page-header">
    <h2>
        <a href="@Url.Action("index", "quotes")">Quotes</a> &raquo; @Model.Header 
    </h2>
</div>

@using (Html.BeginForm("index", "quotes", FormMethod.Get))
{
    <div class="input-group">
    @Html.TextBox("Q", Model.Query, new { @class = "form-control", placeholder = "search for a quote..." })
    <span class="input-group-btn">
        <button class="btn btn-success" type="submit">
            <i class="glyphicon glyphicon-search"></i>
        </button>
    </span>
</div><!-- /input-group -->
}

<div class="text-center">
    <div class="pagination pagination-lg">
        @Html.PagedListPager(Model.Quotes, i => Url.Action("index", new { page = i, size = Model.Size, by = Model.By, category = Model.Category, q = Model.Query }))
    </div>
</div>



<div class="row">
    @foreach (var quote in Model.Quotes)
    {
        @Html.Partial("_Quote", quote)
    }
    
    @if (Model.HasSuggestions)
    {
        <div class="col-lg-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    Ooops... No Results Found. Do any of these suggestions look helpful?
                </div>
                <div class="panel-body">
                    <p>
                        @foreach (var suggestion in Model.Suggestions.Suggestions)
                        {
                            <a class="label label-default" style="font-size: 18px; display: inline-block; margin: 8px" href="@Url.Action("index", "quotes", new {q = suggestion})"> @suggestion</a>
                        }
                    </p>
                </div>
            </div>
        </div>
    }
    else if (!Model.Quotes.Any())
    {
        <div class="col-lg-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    Ooops... No Results Found.
                </div>
                <div class="panel-body">
                    <p>
                        Sorry but we couldn't find any quotes at this time, please forgive us.
                    </p>
                </div>
            </div>
        </div>
    }

</div>

<div class="text-center">
    <div class="pagination pagination-lg">
        @Html.PagedListPager(Model.Quotes, i => Url.Action("index", new { page = i, size = Model.Size, by = Model.By, category = Model.Category, q = Model.Query }))
    </div>
</div>